@use '../base/animations' as *;

.loading-page {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: slideload 1s ease-in-out;
  animation-delay: 4s;
  transform: translateY(-100vh);
  transition: transform 1s ease-in-out;
  animation-fill-mode: backwards;
  .logo-face {
    width: 100px;
    transform: translateY(0);
    transition: transform 2s ease-in-out;
    animation: appear 2s ease-in-out;
  }
  .logo-eyes {
    width: 100px;
    z-index: -10;
    position: absolute;
    opacity: 1;
    animation: flicker 1s linear;
    animation-delay: 2s;
    animation-fill-mode: backwards;
  }
}

.main {
  animation: slidehome 1s ease-in-out;
  // animation-delay: 4s;
  transition: transform 1s ease-in-out;
  animation-fill-mode: backwards;
}
