@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

.admin-menu-wrapper {
  background-color: rgba(80, 0, 0, 0.7);
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  .admin-menu {
    .admin-menu-container {
      .logo-container {
        .logo {
          width: 65px;
        }
        .logo-type {
          display: none;
          width: 20%;
        }
      }
      .admin-main-menu {
        margin: 4em 0;
        .menu-list {
          width: 100%;
          .menu-item {
            margin: 30px 0;
            transition: all 1s ease-in-out;
            a {
              font-weight: 600;
            }
          }
        }
      }
      .sign-out {
        width: 100%;

        &-btn {
          border: none;
          width: 100%;
        }
      }
    }
  }
}
