@use "../abstracts/abstracts" as *;
@use "../components/utilities" as *;

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: rgba($color: $primary-dark, $alpha: 0.8);
  transition: all 0.5s ease-in;
  transform: translateY(100vh);
  @include mq("full") {
    height: 100px;
    transform: translateY(0);
  }
  .main-menu {
    width: 100vw;
    height: 100vh;
    display: flex;
    // flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    @include mq("full") {
      height: 100px;
      justify-content: flex-end;
    }
    .menu-list {
      @include mq("full") {
        display: flex;
        flex-direction: row;
        margin-right: 20px;
        animation: menu-items-full 1s ease-in-out;
        animation-fill-mode: backwards;
      }
      .menu-item {
        opacity: 0;
        margin: 30px 0;
        // transform: translateY(100px);
        transition: all 1s ease-in-out;
        // animation-delay: 0.5s;
        animation-fill-mode: backwards;
        @include mq("full") {
          opacity: 1;
          margin: 30px 15px;
          // animation: menu-items-full 1s ease-in-out;
          animation-fill-mode: backwards;
          // animation-delay: 4.5s;
          // transform: translateY(0);
        }
        a {
          @include mq("full") {
            font-size: 1.6rem;
            font-family: $primary-font;
            letter-spacing: 1pt;
            text-transform: capitalize;
            font-weight: 200;
          }
        }
      }
    }
    .social {
      @include mq("full") {
        display: none;
      }
    }
  }
}

@keyframes menu-items {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes menu-items-full {
  0% {
    transform: translateX(600px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
